* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    height: 100vh;
    touch-action: manipulation;
}

.game-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.game-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
}

.score-container, .level-container, .lines-container {
    text-align: center;
    font-size: 18px;
}

.game-area-container {
    display: flex;
    margin-bottom: 20px;
    flex-grow: 1;
}

#game {
    border: 2px solid #444;
    background-color: #000;
    height: auto;
    max-height: 65vh;
}

.next-piece-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

#nextPiece {
    border: 1px solid #444;
    background-color: #000;
    margin-top: 5px;
}

.controls {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    width: 50%;
    margin-top: auto;
    padding-bottom: 20px;
}

.controls-legend ul {
    margin: 10px;
    list-style-type: none; /* Removes bullets */
    padding: 0;           /* Removes default padding */
    margin: 0;            /* Removes default margin */
}


.control-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
}

.up-down {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: manipulation;
    cursor: pointer;
    box-shadow: 0 5px #222;
}

button:active {
    box-shadow: 0 2px #222;
    transform: translateY(3px);
}

#rotateBtn, #dropBtn {
    font-size: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #272727;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    width: 80%;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content p {
    margin-bottom: 20px;
}

#restartBtn {
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 auto;
    display: block;
}

#pauseBtn, #returnBtn {
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    background-color: #FF0D72; 
    box-shadow: 0 5px #FF0D72;
}


#pauseBtn:active, #returnBtn:active {
    box-shadow: 0 2px inherit;
    transform: translateY(3px);
}

@media (max-height: 600px) {
    .game-header {
        margin-bottom: 5px;
        padding: 5px 0;
    }
    
    button {
        width: 50px;
        height: 50px;
        padding: 10px;
        font-size: 20px;
    }
    
    .controls {
        padding-bottom: 10px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .game-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    
    .game-header {
        width: 100%;
    }
    
    .game-area-container {
        width: 60%;
        max-height: 80vh;
    }
    
    .controls {
        width: 10%;
        padding-left: 10px;
    }
}